<div class="highlighted-text">
  <div class="highlights">
    <div
      *ngFor="let highlight of highlights"
      [innerHtml]="currentValue | highlight : highlight"
      class="highlight highlighted-area">
    </div>
  </div>

  <div
    [innerHtml]="currentValue"
    class="highlighted-area">
  </div>

  <textarea
    #highlightingArea
    placeholder="Type your text here"
    [(ngModel)]="currentValue"
    (blur)="unselect()"
    (focus)="unselect()"
    (keydown)="unselect()"
    (mousedown)="unselect()"
    (select)="highlight()"
    class="highlighted-textarea">
  </textarea>
</div>
